
.dark{
  background-color: black;
  color: white;
}

.light{
  background-color: white;
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}